In [42]:
#Student Mathematics Performance

In [43]:
import pandas as pd

sp_data = pd.read_csv("student-mat.csv")
sp_data

,school,sex,age,address,famsize,Pstatus,Medu,Fedu,Mjob,Fjob,...,famrel,freetime,goout,Dalc,Walc,health,absences,G1,G2,G3
0,GP,F,18,U,GT3,A,4,4,at_home,teacher,...,4,3,4,1,1,3,6,5,6,6
1,GP,F,17,U,GT3,T,1,1,at_home,other,...,5,3,3,1,1,3,4,5,5,6
2,GP,F,15,U,LE3,T,1,1,at_home,other,...,4,3,2,2,3,3,10,7,8,10
3,GP,F,15,U,GT3,T,4,2,health,services,...,3,2,2,1,1,5,2,15,14,15
4,GP,F,16,U,GT3,T,3,3,other,other,...,4,3,2,1,2,5,4,6,10,10
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
390,MS,M,20,U,LE3,A,2,2,services,services,...,5,5,4,4,5,4,11,9,9,9
391,MS,M,17,U,LE3,T,3,1,services,services,...,2,4,5,3,4,2,3,14,16,16
392,MS,M,21,R,GT3,T,1,1,other,other,...,5,5,3,3,3,3,3,10,8,7
393,MS,M,18,R,LE3,T,3,2,services,other,...,4,4,1,3,4,5,0,11,12,10
394,MS,M,19,U,LE3,T,1,1,other,at_home,...,3,2,3,3,3,5,5,8,9,9

In [44]:
# 1.How many Gabriel Pereira and Mousinho da Silveira school’s students are represented in this dataset?
sp_data['school'].value_counts()

GP    349
MS     46
Name: school, dtype: int64

In [45]:
# 2.What are the average final grade of Gabriel Pereira and Mousinho da Silveira school?
GP_fn_average = round(sp_data.loc[sp_data['school'] == 'GP','G3'].mean(),2)
MS_fn_average = round(sp_data.loc[sp_data['school'] == 'MS','G3'].mean(),2)
print("GP =",GP_fn_average)
print("MS =",MS_fn_average)

GP = 10.49
MS = 9.85

In [46]:
# 3.How many males and females are represented in this dataset?
sp_data['sex'].value_counts()

F    208
M    187
Name: sex, dtype: int64

In [47]:
# 4.What are the average final grade of males and females?
M_fn_average = round(sp_data.loc[sp_data['sex'] == 'M','G3'].mean(),2)
F_fn_average = round(sp_data.loc[sp_data['sex'] == 'F','G3'].mean(),2)
print("M =",M_fn_average)
print("F =",F_fn_average)

M = 10.91
F = 9.97

In [48]:
# 5.What are the average final grade of urban and rural students?
urban_fn_average = round(sp_data.loc[sp_data['address'] == 'U','G3'].mean(),2)
rural_fn_average = round(sp_data.loc[sp_data['address'] == 'R','G3'].mean(),2)
print("urban =",urban_fn_average)
print("rural =",rural_fn_average)

urban = 10.67
rural = 9.51

In [49]:
# 6.What are the average final grade of those students have internet access at home and those don’t?
yin_fn_average = round(sp_data.loc[sp_data['internet'] == 'yes','G3'].mean(),2)
nin_fn_average = round(sp_data.loc[sp_data['internet'] == 'no','G3'].mean(),2)
print("yes =",yin_fn_average)
print("no =",nin_fn_average)

yes = 10.62
no = 9.41

In [50]:
# 7.What are mean value of the number of absences of those who get final grade more than 10 and those who get less than 10?
ab1_average = round(sp_data.loc[sp_data['G3'] >10 ,'absences'].mean(),2)
ab2_average = round(sp_data.loc[sp_data['G3'] <=10 ,'absences'].mean(),2)
print("average absences of final grade > 10 =",ab1_average)
print("average absences of final grade <= 10 =",ab2_average)

average absences of final grade > 10 = 5.28
average absences of final grade <= 10 = 6.19

In [51]:
# 8.What are mean value of the weekly study time of those who get final grade more than 10 and those who get less than 10?
s_time1 =  int(round(sp_data.loc[sp_data['G3'] >10 , 'studytime'].mean()))
s_time2 =  int(round(sp_data.loc[sp_data['G3'] <=10 , 'studytime'].mean()))

s_list: list[str] = ['0','<2 hours','2 to 5 hours','5 to 10 hours','>10 hours']

print("average weekly study time of final grade > 10 =", s_list[s_time1])
print("average weekly study time of final grade <= 10 =", s_list[s_time2])

average weekly study time of final grade > 10 = 2 to 5 hours
average weekly study time of final grade <= 10 = 2 to 5 hours

In [52]:
# 9.Do the students who have extra educational support get better grades than those who don’t?
extr_fn_average = sp_data.loc[sp_data['schoolsup'] == 'yes','G3'].mean()
nextr_fn_average = sp_data.loc[sp_data['schoolsup'] == 'no','G3'].mean()
if extr_fn_average > nextr_fn_average:
    print("yes")
else:
    print("no")

no

In [53]:
# 10.Do the students who have family educational support get better grades than those who don’t?
fa_fn_average = sp_data.loc[sp_data['famsup'] == 'yes','G3'].mean()
nfa_fn_average = sp_data.loc[sp_data['famsup'] == 'no','G3'].mean()
if fa_fn_average > nfa_fn_average:
    print("yes")
else:
    print("no")

no