In [1]:
# 2022 & 2018 世界盃8強國家

In [11]:
#使用pandas套件
import pandas as pd

#read csv file
all = pd.read_csv("Task1_data.csv")

In [12]:
all

   8強國家   2022   2018
0     1     荷蘭    烏拉圭
1     2    阿根廷     巴西
2     3    英格蘭     法國
3     4     法國    比利時
4     5  克羅埃西亞    俄羅斯
5     6     巴西  克羅埃西亞
6     7    摩洛哥     瑞典
7     8    葡萄牙    英格蘭

In [14]:
list2022 = list(all['2022'])
list2018 = list(all['2018'])
print(list2022)
print(list2018)

['荷蘭', '阿根廷', '英格蘭', '法國', '克羅埃西亞', '巴西', '摩洛哥', '葡萄牙']
['烏拉圭', '巴西', '法國', '比利時', '俄羅斯', '克羅埃西亞', '瑞典', '英格蘭']

In [15]:
#將資料型態改為set(中括號將變成大括號)
s2022 = set(list2022)
s2018 = set(list2018)
print(s2022)
print(s2018)

{'克羅埃西亞', '葡萄牙', '摩洛哥', '巴西', '荷蘭', '阿根廷', '法國', '英格蘭'}
{'克羅埃西亞', '烏拉圭', '瑞典', '俄羅斯', '巴西', '法國', '英格蘭', '比利時'}

In [16]:
#聯集
#2022 & 2018 晉級8強名單
print(s2022|s2018)

{'克羅埃西亞', '烏拉圭', '瑞典', '葡萄牙', '俄羅斯', '摩洛哥', '比利時', '巴西', '荷蘭', '阿根廷', '法國', '英格蘭'}

In [17]:
#交集
#2022 & 2018兩年皆晉級8強名單
print(s2022&s2018)

{'巴西', '克羅埃西亞', '英格蘭', '法國'}

In [18]:
#差集
#2022名單扣掉2018出現的名單
print(s2022-s2018)

{'摩洛哥', '葡萄牙', '荷蘭', '阿根廷'}